.button {
	display: block;
	margin: 0 0 0.9rem;
	padding: 0.5rem 2.25rem;
	font-family: inherit;
	font-size: 1rem;
	color: var(--white-1);
	background: var(--blue-1);
	text-align: center;
	border-radius: var(--border-R-1);
	border: 0;
	cursor: pointer;
	user-select: none;
}

.button--full-width {
	width: 100%;
}

.button:last-child {
	margin-bottom: 0;
}
