.formSmall {
	display: block;
	margin: 0 0 1rem;
	color: var(--grey-1);
	font-size: 0.75rem;
	line-height: 1rem;
}

.formSmall--centered {
	text-align: center;
}

.formSmall:last-child {
	margin-bottom: 0;
}
