.table {
	border: 1px solid var(--grey-3);
	border-radius: var(--border-R-2);
	margin: 0 0 15rem;
}

.table__header,
.table__subheader {
	text-transform: none;
}

.table__header {
	color: var(--dark-1);
	font-size: 1.33rem;
	margin: 0 0 0.22rem;
}

.table__subheader {
	font-size: 0.72rem;
}
