.control {
	display: block;
	width: 100%;
	padding: 0.72rem 0.72rem 0.72rem 2.61rem;
	/* font-size: 0.88rem; */
	color: var(--grey-1);
	border: 1px solid var(--grey-2);
	border-radius: var(--border-R-1);
}
