.control {
	display: block;
	width: 100%;
	padding: calc(0.5rem - 1px);
	font-size: 1rem;
	line-height: 1.5rem;
	color: var(--grey-1);
	border: 1px solid var(--grey-2);
	border-radius: var(--border-R-1);
}

.control--sm-font {
	font-size: 0.75rem;
}

.control--preicon {
	padding-left: 2.5rem;
}
