.socialIcon-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.socialIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.625rem;
	height: 2.625rem;
	margin: 0.625rem;
	color: var(--grey-1);
	border: 1px solid var(--grey-1);
	border-radius: var(--border-R50);
	cursor: pointer;
}
