.formGroup {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 0 0.9rem;
	position: relative;
}

.formGroup--row {
	flex-direction: row;
	align-items: center;
}

.formGroup:last-child {
	margin-bottom: 0;
}
