:root {
	font-size: calc(16px + (18 - 16) * (100vw - 320px) / (1366 - 320));
	--border-R-1: 8px;
	--border-R-2: 12px;
	--border-R-3: 24px;
	--border-R50: 50%;
	--grey-1: #828282;
	--grey-2: #bdbdbd;
	--grey-3: #e0e0e0;
	--blue-1: #2f80ed;
	--blue-2: #0060df;
	--blue-3: #67cff3;
	--blue-4: #0060df4d;
	--white-1: #fff;
	--dark-1: #333333;
	--focus-boxshadow: 0 0 0 4px var(--blue-4);
	--transition-1: all 0.3s ease;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
	line-height: 1.375;
	font-weight: 400;
	letter-spacing: -3.5%;
	color: var(--dark-1);
}

*,
*::before,
*::after {
	font-family: inherit;
	font-size: inherit;
	box-sizing: border-box;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
	outline: none;
	outline-offset: 0;
	border-color: transparent;
	box-shadow: var(--focus-boxshadow);
	transition: var(--transition-1);
}

a,
input,
textarea,
button {
	transition: var(--transition-1);
}

*::-moz-focus-inner,
*::-moz-focus-outer {
	border: 0;
}

a {
	color: var(--blue-1);
	text-decoration: none;
}

h2 {
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.36;
	margin: 1rem 0 0.44rem;
}

h3 {
	font-size: 1.125rem;
	margin: 0 0 0.9rem;
}

img {
	display: block;
	height: 100%;
	width: auto;
}

.sub-header {
	font-weight: 300;
	margin: 0 0 2.44rem;
}

h2,
.sub-header {
	text-align: center;
}

h3:last-child,
h3:last-child,
.sub-header:last-child {
	margin-bottom: 0;
}

button:active {
	background-color: var(--blue-2);
}

.layout {
	min-height: 100vh;
	max-width: 47rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	/* justify-content: center;
	align-items: center; */
}

.layout--narrow {
	max-width: 26.33rem;
}

.topbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.33rem 2.57rem;
	overflow: hidden;
}

.footer {
	display: flex;
	justify-content: space-between;
	/* max-width: 47rem; */
	/* margin: 0 auto; */
	padding: 0.77rem 0 13.16rem;
	color: var(--grey-2);
}

.logo {
	display: block;
	margin: 0 0 1.7rem;
}

.logo:last-child {
	margin-bottom: 0;
}

.logo > a {
	width: 7.33rem;
}

.container-row {
	display: flex;
	justify-content: center;
	margin: 0 0 0.9rem;
}

.container-row:not(:last-of-type) {
	margin-bottom: 0;
}

.material-icons.md-grey {
	color: var(--grey-1);
}

.material-icons.md-incontrol-icon {
	position: absolute;
	left: 0.75rem;
	bottom: calc(1rem / 1.55);
	font-size: 1.45rem;
}
